
@import "config";
@import "../../../bower_components/foundation/scss/foundation/components/buttons";

$content-block-title-color: #CCCDD2;
$content-block-bg-color: #F1F1F1;
$content-block-padding: 15px;

.content-block {
	overflow: hidden;
	padding: 0 $content-block-padding $content-block-padding $content-block-padding;
	background-color: $content-block-bg-color;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

	& + & {
		margin-top: 20px;
	}

	&-title {
		position: relative;
		height: $block-title-height;
		line-height: $block-title-height;
		padding: 0 $content-block-padding;
		margin: {
			top: 0;
			left: -$content-block-padding;
			bottom: $content-block-padding;
			right: -$content-block-padding;
		};
		background: linear-gradient(to top, darken($content-block-title-color, 5), $content-block-title-color);

		&-btn {
			height: rem-calc($block-title-height) - (2 * $button-tny - rem-calc(10));
			line-height: rem-calc($block-title-height) - (2 * $button-tny - rem-calc(10));
			padding: 0 !important;
			margin: 5px 0;
			background-color: transparent !important;
			color: darkgrey;
		}
	}

	&-footer {
		margin: {
			top: $content-block-padding;
			left: -$content-block-padding;
			bottom: -$content-block-padding;
			right: -$content-block-padding;
		};
		border-top: 2px solid white;
		background-color: lighten($content-block-bg-color, 3);

		&-btn {
			margin: 0;
		}
	}
}