
@import "config";

$side-block-header-height: $block-title-height;
$side-block-header-color: $topbar-bg-color;

.side-block {

	&-title {
		height: $block-title-height;
		line-height: $block-title-height;
		text-align: center;
		text-transform: uppercase;
		color: white;
		background: linear-gradient(to top, darken($side-block-header-color, 5), $side-block-header-color);
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	&-nav {
		padding: 0;
		margin: 0;
		border-bottom: 2px solid $side-block-header-color;

		&-item {
			margin-bottom: 2px !important;
		}

		&-link {
			position: relative;
			padding-left: 30px !important;
			font-weight: bold;
			background-color: #E8E8E8;
			color: #333 !important;
			transition: padding 0.15s ease-in-out;

			&:hover {
				padding-left: 35px !important;

				.fa {
					left: 13px;
				}
			}

			.fa {
				position: absolute;
				top: 50%;
				left: 8px;
				transform: translate(0, -50%);
				transition: left 0.15s ease-in-out;
			}
		}

		&-notify {
			position: relative;
			top: -1px;
			margin-left: 5px;
		}
	}
}