
$fb-color: #3b5998;
$vk-color: #588FD0;

@mixin social-btn-base {
    padding-left: 30px;
    font-weight: bold;

    .fa {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translate(0, -50%);
        font-size: 18px;
    }
}

.button {

    &.mod-facebook {
        @include social-btn-base;
        background-color: $fb-color;
        color: white;
    }

    &.mod-vk {
        @include social-btn-base;
        background-color: $vk-color;
        color: white;
    }
}