
$tab-bottom-border-color: #F1F1F1;

.tabs {
    margin: 0 0 20px 0;
    padding: 0;
    border-bottom: 1px solid $tab-bottom-border-color;

    &-title {

        $tab-title: &;

        display: inline-block;
        height: 40px;

        &-btn {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            color: #333;
            transition: border .15s ease-in-out;
            outline: none;

            #{$tab-title}.active & {
                border-bottom: 3px solid $primary-color;
            }
        }

        & + & {
            margin-left: 20px;
        }
    }

    &-content {

        &-item {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}