
@import "config";

.video-list {
	font-size: 14px;

	&-item {

		&-thumb {
			position: relative;
			display: block;
			width: 100%;
			height: 105px;
			margin-bottom: 5px;

			img {
				width: 100%;
				height: 100%;
			}
		}

		&-duration {
			position: absolute;
			display: inline-block;
			bottom: 0;
			right: 0;
			padding: 2px 5px;
			background-color: rgba(black, .25);
			color: #eee;
			font-weight: 500;
			font-size: 11px;
		}

		&-title {
			font-weight: 500;

			&:hover {
				text-decoration: underline;
			}
		}

		&-info {
			color: #999999;
		}
	}
}