
@import "config";

.main-content {
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: $header-height;
	width: 100%;
	height: 100%;
	overflow-y: auto;

	&-inner {
		width: $content-width;
		padding: 15px 0 $footer-height + 15px 0;
		min-height: 100%;
		margin: 0 auto;
		background-color: white;
	}
}