
@import "config";

.footer {
	z-index: 200;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	box-shadow: 0 0 5px grey;

	&-inner {
		height: $footer-height;
		line-height: $footer-height;
		padding: 0 15px;
		margin: 0 auto;
		background-color: white;
	}

	&-copyright {
		color: #999;
	}

	&-nav {
		margin: 0;

		a {
			color: #666;
			font-size: 14px;
			line-height: $footer-height;
		}
	}
}