
@import "config";

.header {
	position: relative;
	z-index: 200;
	width: 100%;
	background-color: $topbar-bg-color;
	box-shadow: 0 1px 5px grey;

	&-inner {
		width: $content-width;
		margin: 0 auto;
	}

	.title-area {
		width: 25%;
	}

	&-bar {

		&-logo {
			font-weight: 500 !important;
		}
	}

	&-search {
		width: 565px !important;
	}
}