
$body-font-family: 'Roboto', sans-serif;
$primary-color: #530002;

@import "../../bower_components/foundation/scss/normalize";

@import "../../bower_components/font-awesome/scss/font-awesome";

@import "type";
@import "grid";
@import "block-grid";
@import "inline-lists";
@import "labels";

//$button-bg-color: #530002;
@import "buttons";

$topbar-bg-color: #A40000;
//$topbar-link-bg-color-hover: $button-bg-color;
@import "top-bar";
$side-nav-heading-color: red;
@import "side-nav";

@import "reveal";
//@import "tabs";

@import "layouts/index";
@import "components/index";

html, body {
	height: 100%;
	background-color: #F1F1F1;
}

body {
	min-width: 100%;
}